.companies {
    &-section { position: relative; z-index: 0; text-align: center;
        @include media-breakpoint-down(lg) { margin-bottom: 0; } 
        .blue-card-bg { min-height: 17rem; 
            @include media-breakpoint-down(lg) { transform: none; } 
            @include media-breakpoint-up(lg) { min-height: 20rem; } 
            &.white-bg:before { background-image: linear-gradient(-45deg, $white 20%, $turquoise 60%, $dark-blue 90%); }
            @include media-breakpoint-down(lg) { 
               &:before, &:after {
                   border-top-#{$align-opp}-radius: $border-radius-large; border-bottom-#{$align-opp}-radius: $border-radius-large;
               }
               &:after { #{$align-opp}: 7px; border-radius: $border-radius-medium; }
             } 
        }
        .heading { margin-bottom: $spacer * 3; padding: 0 $spacer;
           @include media-breakpoint-up(lg) { margin-bottom: $spacer * 6; padding: 0;}
        }
        .items-icon-group {
            .item { align-items: center; 
                @include media-breakpoint-down(lg) { margin-bottom: $spacer * 4; } 
                &-box {
                   @include media-breakpoint-down(md) { padding-left: $spacer * 1.5; padding-right: $spacer * 1.5  }
                }
            }
            .item-icon { margin-top: $spacer; margin-bottom: $spacer; 
                @include media-breakpoint-up(lg) {  margin-top: $spacer * 2; } 
                    img { max-width: 13.75rem; height: 4.5rem; }
             }
        }
    }
    &-container { 
       @include media-breakpoint-down(lg) { padding: 0; }  
     }
}